#level1 {
	background: url('../images/27.jpg') repeat;
}

.absolute {position: absolute;}
.hidden {visibility: hidden;}

#top, #middle, #bottom, #levelStatus{
	position: absolute;
}

#top {
	top: 0px;
	height: 50px;
	left: 0px;
	width: 100%;
}

#levelStatus {
	top: 5px;
	left: 5px;
	height: 100%;
	right: 5px;
	background-color: rgba(0, 0, 0, 0.7);
}

#star1, #star2, #star3 {
	background: url('../images/starVoid.png');
	background-size: 40px 40px;
	width: 40px;
	height: 40px;
	top: 5px;
}

#star1.taken, #star2.taken, #star3.taken {
	background-image: url('../images/exp.png');
}

#star1 {right: 95px;}
#star2 {right: 50px;}
#star3 {right: 5px;}

#remainingMovements {
	color: white;
	font-size: 48px;
	left: 5px;
	width: 45px;
	height: 45px;
	background: url('../images/starVoid.png');
}

#middle {
	top: 50px;
	bottom: 50px;
	left: 0px;
	width: 100%;
}

#bottom {
	height: 50px;
	left: 0px;
	bottom: 0px;
	width: 100%;
}

#mazeWrapper {
	position: relative;
}

.token{ position: absolute; }
.token.pep-active{ 
}

.case {
	position: absolute;
	background-size: 100%;
	border-left: white;
	border-right: black;
}

.token.exp {
  -transition: all 0.6s;
  -webkit-transition: all 0.6s;
}
.token.exp.animated {
  -transform: scale(3);
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  opacity: 0;
  z-index: 100;
}

.w01000100 {background-image: url('../images/01000100.png');}
.w01111100 {background-image: url('../images/01111100.png');}
.w11000111 {background-image: url('../images/11000111.png');}

