#blockMask {
	background-color: black;
	opacity: 0;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

#level {
	background: url('../images/background.jpg') repeat;
}

.absolute {position: absolute;}
.hidden {visibility: hidden;}

#top, #middle, #bottom, #levelStatus{
	position: absolute;
}

#top {
	top: 0px;
	height: 60px;
	left: 0px;
	width: 100%;
}

#levelStatus {
	top: 5px;
	left: 5px;
	height: 50px;
	right: 5px;
	background-color: rgba(0, 0, 0, 0.7);
}

.star {
	background-size: 40px 40px;
}

.star.void {
	background: url('../images/starVoid.png');
}

.star.taken {
	background-image: url('../images/exp.png');
}

#star1, #star2, #star3 {
	background: url('../images/starVoid.png');
	background-size: 40px 40px;
	width: 40px;
	height: 40px;
	top: 5px;
}

#star1.taken, #star2.taken, #star3.taken {
	background-image: url('../images/exp.png');
}

#star1 {right: 95px;}
#star2 {right: 50px;}
#star3 {right: 5px;}

.levelStatusCell {
	width: 50px;
	height: 50px;
}

#remainingMovementsIcon {
	width: 46px;
	position: relative;
	top: 2px;
	left: 2px;
}

#remainingMovements,
#remainingHealth {
	color: white;
	font-size: 35px;
	line-height: 50px;
	text-align: center;
}

#remainingMovements {left: 0px;}
#remainingHealth {left: 50px;}

#remainingHealthIcon {
	width: 46px;
	position: relative;
	top: 2px;
	left: 52px;
}

.scenicElement {z-index: 10; position: absolute;}
.floorElement {z-index: 10; position: absolute;}

#middle {
	top: 60px;
	bottom: 50px;
	left: 0px;
	width: 100%;
}

#bottom {
	height: 50px;
	left: 0px;
	bottom: 0px;
	width: 100%;
}

#mazeWrapper {
	position: relative;
}

.token{ position: absolute; }
.token.pep-active{ 
}

.case {
	position: absolute;
	background-size: 100%;
}

@-webkit-keyframes pulsing {
	0% {-webkit-transform: scale(1);}
	100% {-webkit-transform: scale(0.6);}
}

.case.placingTarget:before {
	content: '';
	background-image: -webkit-linear-gradient(#f1a165, #f36d0a);
	width: 40%;
	height: 40%;
	position: absolute;
	left: 30%;
	top: 30%;
	border-radius: 50%;
	-webkit-animation: pulsing 0.6s ease-in-out infinite alternate;
}

.scenicElement.selected {-webkit-animation: pulsing 0.6s ease-in-out infinite alternate;}

.token.exp {
  -transition: all 0.6s;
  -webkit-transition: all 0.6s;
}
.token.exp.animated {
  -transform: scale(3);
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  opacity: 0;
  z-index: 100;
}

.w0000 {background-image: url('../images/0000.png');}
.w0001 {background-image: url('../images/0001.png');}
.w0010 {background-image: url('../images/0010.png');}
.w0011 {background-image: url('../images/0011.png');}
.w0100 {background-image: url('../images/0100.png');}
.w0101 {background-image: url('../images/0101.png');}
.w0110 {background-image: url('../images/0110.png');}
.w0111 {background-image: url('../images/0111.png');}
.w1000 {background-image: url('../images/1000.png');}
.w1001 {background-image: url('../images/1001.png');}
.w1010 {background-image: url('../images/1010.png');}
.w1011 {background-image: url('../images/1011.png');}
.w1100 {background-image: url('../images/1100.png');}
.w1101 {background-image: url('../images/1101.png');}
.w1110 {background-image: url('../images/1110.png');}
.w1111 {background-image: url('../images/1111.png');}

.progressBarContainer {
	background-color: #555;
	border-radius: 25px;
	z-index: 100;
}

.progressBar {
	background-image: -webkit-linear-gradient(#f1a165, #f36d0a);
	border-radius: 25px;
}

.mazeLabel {
	color: black;
	text-shadow: none;
	white-space: nowrap;
}

.tutorialParagraph {
	color: white;
}

.tutorialImage {
	float: left;
	padding: 10px;
}

.tutorialContainer {
	padding: 25px;
}