@font-face {
	font-family: 'trashhand';
	src: url('TrashHand.TTF') format('truetype');
}

.stage {
	height: 100px;
	width: 100px;
	background-image: -webkit-linear-gradient(#f1a165, #f36d0a);
	border-radius: 20px;
	border-style: solid;
	font-family: trashhand;
	font-size: 70px;
	text-align:center;
	
	color: white;
	text-shadow: 
		-2px -2px 0 #000, 
		2px -2px 0 #000, 
		-2px 2px 0 #000, 
		2px 2px 0 #000;
	position: absolute;
}

#stage2 {left: 120px;}

.star {
	position: absolute;
	bottom: 5px;
	height: 30px;
	width: 30px;
}

.lock {
	position: absolute;
	bottom: 10px;
	left: 10px;
	height: 80px;
	width: 80px;
}

.star.first {left: 3px;}
.star.middle {left: 35px;}
.star.last {left: 67px;}